.sub {
    background: seagreen;
}

.boxx {
    background: seagreen;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    font-size: large;
}

.contain {
    border: 1px solid seagreen;
    background: seagreen;
    margin: 50px;
    border-radius: 15px;
    padding-bottom: 40px;
    height: 100%;
}

.boxe {
    background: seagreen;
}

.boxes {
    width: 30%;
    height: 25px;
    border: none;
    border-radius: 5px;
    background-color: lightgray;
    margin-top: 8px;
}

.btn1 {
    width: 20%;
    height: 25px;
    border: none;
    background-color: cadetblue;
    font-size: 15px;
    border-radius: 5px;
}

.btns {
    background-color: seagreen;
    color: #2F4F4F;
}

.card {
    width: 200px;
    float: right;
    margin: 5px;
}

.btn {
    float: right;
    margin: 5px;
}