.btn{
    margin-right: 5px;
  }
  .card{
    margin: 5px;
    width: 300px;
  }
  h1{
    display: flex;
    flex-wrap: wrap;
  }
  .add{
    margin-top: 10px;
  }
  table{
    width: 100px;
  }
  .remove{
    color: black;
    font-size: 12px;
    position: absolute;
    right: 0;
    margin: 5px;
    padding: 2px;
    border: none;
  }
  .del {
    float: right;
  }
  .inp {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 40px;
    margin-top: 25px;
  }
  
  .error {
    color:#660000;
    width: 20%;
    height: 30px;
    margin-top: 10px;
    padding: 3px;
    float: left;
  }
  
  .form{
    width: 90%;
    border-radius: 5px;
    border: 1px solid lightgray;
    margin-top: 20px;
    height: 40px;
  }
  
  .icon {
    cursor: pointer;
  }
  
  .cross {
    cursor: pointer;
  }